---
# roles/{{ role_name }}/meta/main.yml

dependencies:

#  - role: lordoftheflies.resources
#    resources_on_local : '{{ '{{' }} {{ role_name }}_resources_on_local {{ '}}' }}'
#    resources_on_remote: '{{ '{{' }} {{ role_name }}_resources_on_remote {{ '}}' }}'

#  - role: scaffold
galaxy_info:
  role_name: 'ansible_role_{{role_name}}'
  version: '1.0.0'
  author: 'László Hegedűs'
  description: 'Ansible Galaxy role for maintain {{ role_name }}.'
  company: 'Cherubits'
  license: MIT
  min_ansible_version: '2.9'
  platforms:
    - name: Ubuntu
      versions:
        - xenial
        - disco
        - eon
    - name: Debian
      versions:
        - wheezy
  galaxy_tags:
    - cherubits
    - {{ role_name }}
    - debian
    - ubuntu

